<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{.title}}</title>
<style>
body { max-width: 600px; margin: 8em auto; line-height: 1.8; font: 18px serif; color: #333; padding: 0 1em; }
a { color: #333; }
img { max-width: 100%; }
code { font-size: 16px; }
pre { overflow-x: auto; }
nav { text-align: center; margin-top: 3em; }
nav a { margin: 0 1em; }
@media (max-width: 640px) {
  body { margin: 2em auto; font-size: 16px; }
}
</style>
</head>
<body>
<main>
<h2>{{.title}}</h2>
<p><time>{{.date}}</time></p>
<div>{{.content}}</div>
</main>
<nav><a href="/blog.html">blog</a></nav>
</body>
</html>
