<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Site.Title }}</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <h1 class="site-title"><a href="/">{{ .Site.Title }}</a>{{ if .Site.Subtitle }}<span class="site-subtitle">{{ .Site.Subtitle }}</span>{{ end }}</h1>
    </header>

    <div class="mainContent">
        <nav id="side-bar">
            <ul>
                <li><a href="/">&rsaquo; home</a></li>
                <li><a href="/blog">&rsaquo; blog</a></li>
            </ul>
        </nav>

        <article>
            <h1>Welcome</h1>
            <p>Recent posts:</p>
            <div class="posts">
                {{ range .Posts }}
                <article>
                    <time>{{ .Date }}</time>
                    <a href="{{ .URL }}">{{ .Title }}</a>
                </article>
                {{ end }}
            </div>
        </article>
    </div>

    <footer>
        <div class="left">
            <p>&copy; {{ now | dateFormat "2006" }} {{ .Site.Title }}</p>
        </div>
    </footer>
</body>
</html>
