<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Site.Title }}</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    {{ template "header.html" . }}

    <article>
        <h1>Welcome</h1>
        <p>Recent posts:</p>
        <div class="posts">
            {{ range .Posts }}
            <article>
                <time>{{ .Date }}</time>
                <a href="{{ .URL }}">{{ .Title }}</a>
            </article>
            {{ end }}
        </div>
    </article>
    </div>

    <footer>
        <div class="left">
            <p>&copy; {{ now | dateFormat "2006" }} {{ .Site.Title }}</p>
        </div>
    </footer>
</body>
</html>
